<div class="col-12 pt-2 pb-2">
 <form method="post" action="{{ path('admin_delete', {'id': product.id}) }}" onsubmit="return confirm('être vous sûr de vouloir supprimer ce produit ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn btn-danger btn-block">Effacer</button>
</form>
</div>