{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}
{% block description %}Vous êtres perdu la page n'existe pas{% endblock %}

{% block body %}
    <section>
        <div class="container bg-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('accueil') }}">Accueil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">404</li>
                </ol>
            </nav>
            <div class="row p-4">
                <h2>Erreur 404</h2>
            </div>
            <div class="row pt-2 pb-2">
                <img class="img-fluid" src="/assets/src/error_404.jpg">
            </div>

        </div>
    </section>
{% endblock %}
