<div class="col-12 pt-2 pb-2">
    <form method="post" action="{{ path('categories_admin_delete', {'id': category.id}) }}"
          onsubmit="return confirm('être vous sûr de vouloir supprimer catégorie ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
        <button class="btn btn-danger btn-block">Effacer</button>
    </form>
</div>
