{% extends 'base.admin.html.twig' %}
{% block title %}Edit Categories{% endblock %}

{% block body %}
<section>
    <div class="container bg-center">
        <div class="row">

            <div class="col-12">
    <h1>Modification Categories</h1>

    {{ include('admin/categories/_form.html.twig', {'button_label': 'Valider'}) }}


    {{ include('admin/categories/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
